.home {
    width: 95%;
    min-height: 40vh;
}
<<<<<<< Updated upstream
.card-bx{
    width: 100px;
    height: 100px;
=======

.home h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
    font-weight: 400;
    border-bottom: 1px solid rgb(241, 105, 128);
    color: rgb(0, 0, 0);
>>>>>>> Stashed changes
}