.card-bx{
    margin-top: 10px;
    padding: 0;
    font-family: 'popping',sans-serif;
    background: #d82222;
}
.card{
       
       display: flex;
       justify-self: center;
       align-items: center;
       height: 275px;
       width: 245px;
}
.size{
    justify-self: center;
    align-items: center;
    color: tomato;
}
